#header {
	background: #ccc;
	height: 100px;
	padding: 5px;
}

.nav.nav-pills {
	margin: 5px 0px;
}

.navbar-form.navbar-left {
	padding-left: 125px;
}

#content {
	padding: 5px;
}

#sidebar {
	margin: 0px;
	padding: 5px;
	background: #666;
}

#footer {
	background: #333;
	color: #fff;
	height: 50px;
	padding: 5px;
}

.form-control {
	width: 178px;
}

#reg {
	padding: 10px;
}

.carousel.slide {
	width: 800px;
}